<div class="navbar-fixed">
    <nav class="blue">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Rezilux GesCom</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger "> <i class="material-icons" >menu</i></a>
          <ul class="right hide-on-med-and-down ">
            <li>
                <a routerLink="Client">Client</a>
              </li>
              <li>
                <a routerLink="Article">Article</a>
              </li>
              <li>
                <a routerLink="Commande">Commande</a>
              </li>
              <li>
                <a routerLink="Detail">Details Commande</a>
              </li>
          </ul>
  
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li>
            <a routerLink="Client">Client</a>
          </li>
          <li>
            <a routerLink="Article">Article</a>
          </li>
          <li>
            <a routerLink="Commande">Commande</a>
          </li>
          <li>
            <a routerLink="Detail">Details Commande</a>
          </li>
    </ul>
  
  </div>